<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="restShopApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="restShopApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="restShopApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="restShopApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RestShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/app.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
</head>
<body>
    <header ng-controller="HeaderController as vm">
        <div class="container text-center">
            <div class="row bottom-buffer">
                <div class="col-xs-12">
                    <img class="img-responsive center-block restshop-logo"
                         src="/static/img/logo.png"
                         ng-click="$state.go('product-list', {}, {reload: true})">
                </div>
            </div>

            <div class="row bottom-buffer">
                <div class="search-column">
                    <form class="navbar-search"
                          role="search"
                          ng-submit="vm.searchProducts()">
                        <div class="input-group">
                            <input type="search" class="form-control"
                                   placeholder="Search"
                                   name="q"
                                   required
                                   ng-model="vm.query">
                            <div class="input-group-btn">
                                <button class="btn btn-red">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="extra-button-column">
                    <a class="btn btn-red text-uppercase btn-sign-in"
                       ui-sref="login"
                       ng-if="!user">Log in</a>
                    <button class="btn btn-red text-uppercase btn-sign-in"
                            ng-click="vm.logout()"
                            ng-if="!!user">Log out</button>
                </div>
            </div>
        </div>
    </header>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main>
        <div class="container">
            <div ui-view></div>
        </div>
    </main>

    <script src="/static/js/vendor.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
