<div class="cart-page">
    <div class="row bottom-buffer">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"
             ng-if="!vm.successfullyOrdered">
            <div ng-if="vm.cartUnits.length && !vm.loading">
                <div class="cart-unit-container"
                     ng-repeat="cartUnit in vm.cartUnits">
                    <a class="text-uppercase"
                       ui-sref="product-details({id: cartUnit.unit.product_id})">
                        <rs-cart-order-unit item="cartUnit"
                                            is-cart="true"
                                            on-quantity-change="vm.onQuantityChange($change, cartUnit)"></rs-cart-order-unit>
                    </a>

                    <button class="delete-button"
                            ng-click="vm.deleteItem(cartUnit)">&times;</button>
                </div>
                <div>
                    <h3 class="text-uppercase total-sum"><b>Total Sum</b>: ${{ vm.getTotalSum() }}</h3>
                </div>
                <form name="orderForm"
                      ng-submit="vm.placeOrder()">
                    <div class="form-group">
                        <label class="text-uppercase" for="nameInput">Name</label>
                        <input type="text"
                               class="form-control"
                               id="nameInput"
                               placeholder="John"
                               name="name"
                               ng-model="vm.deliveryInfo.name"
                               required>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase" for="addressInput">Address</label>
                        <input type="text"
                               class="form-control"
                               id="addressInput"
                               placeholder="USA, IL, Chicago, Wood Street, 15"
                               name="address"
                               ng-model="vm.deliveryInfo.address"
                               required>
                    </div>
                    <div class="form-group">
                        <label class="text-uppercase" for="phoneInput">Phone</label>
                        <input type="text"
                               class="form-control"
                               id="phoneInput"
                               placeholder="+375 29 196 33 34"
                               name="phone"
                               ng-model="vm.deliveryInfo.phone"
                               required>
                    </div>
                    <div>
                        <input class="btn btn-red text-uppercase"
                               type="submit"
                               value="Place order"
                               ng-disabled="form.$invalid">
                    </div>
                </form>
            </div>

            <div class="jumbotron jumbotron-crimson" ng-if="!vm.cartUnits.length && !vm.loading">
                Cart is empty
            </div>

            <div class="text-center" ng-if="vm.loading">
                <img src="/static/img/spinner.gif">
            </div>
        </div>

        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6"
             ng-if="vm.successfullyOrdered">
            <div class="jumbotron jumbotron-crimson">
                Successfully ordered!
            </div>
        </div>
    </div>
</div>
