<div class="row bottom-buffer">
    <div class="col-sm-offset-3 col-sm-4">
        <div class="filter-property-block">
            <p class="filter-title property-name text-uppercase"
               ng-init="isTagsCollapsed = true"
               ng-click="isTagsCollapsed = !isTagsCollapsed;">
                Tags <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                           ng-class="{'flipped': !isTagsCollapsed}"></span>
            </p>

            <div uib-collapse="isTagsCollapsed" class="property-collapsing-block">
                <div class="checkbox checkbox-danger" ng-repeat="tag in vm.tags">
                    <input id="tag-checkbox{{ $index }}"
                           type="checkbox"
                           ng-model="tag.selected"
                           ng-change="vm.filterChangeWrapper()">

                    <label class="text-uppercase" for="tag-checkbox{{ $index }}">
                        {{ tag.name }}
                    </label>
                </div>
            </div>
        </div>

        <div class="filter-property-block">
            <p class="filter-title property-name text-uppercase"
               ng-init="isFilterCollapsed = true"
               ng-click="isFilterCollapsed = !isFilterCollapsed; vm.showSlider();">
                Filter <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                             ng-class="{'flipped': !isFilterCollapsed}"></span>
            </p>
            <div uib-collapse="isFilterCollapsed" class="property-collapsing-block">
                <div class="checkbox checkbox-danger checkbox-uppercase">
                    <input id="instock-checkbox"
                           type="checkbox"
                           ng-model="vm.inStock"
                           ng-change="vm.filterChangeWrapper()">

                    <label class="text-uppercase" for="instock-checkbox">
                        In stock
                    </label>
                </div>

                <rzslider class="price-slider"
                          rz-slider-model="vm.slider.min"
                          rz-slider-high="vm.slider.max"
                          rz-slider-options="vm.slider.options"></rzslider>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="filter-property-block"
             ng-repeat="property in vm.properties">
            <p class="filter-title property-name text-uppercase"
                ng-init="isCollapsed = true"
                ng-click="isCollapsed = !isCollapsed">
                {{ property.name }} <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                                          ng-class="{'flipped': !isCollapsed}"></span>
            </p>
            <span class="num-of-options text-uppercase">{{ property.values.length }} options</span>
            <div uib-collapse="isCollapsed" class="property-collapsing-block">
                <div class="checkbox checkbox-danger" ng-repeat="value in property.values">
                    <!-- $parent.$index is used to make checkbox id unique -->
                    <input id="propvalue-checkbox{{ $parent.$index * 100 + $index }}"
                           type="checkbox"
                           ng-model="value.selected"
                           ng-change="vm.filterChangeWrapper()">

                    <label class="text-uppercase" for="propvalue-checkbox{{ $parent.$index * 100 + $index }}">
                        {{ value.value }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
