<div class="container text-center"
     ng-controller="HeaderController as vm">
    <div class="row bottom-buffer">
        <div class="col-xs-12">
            <a ui-sref="product-list"
               ui-sref-opts="{reload: true}">
                <img class="img-responsive center-block restshop-logo"
                     src="/static/img/logo.png">
            </a>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="search-column">
            <form class="navbar-search"
                  role="search"
                  ng-submit="vm.searchProducts()">
                <div class="input-group">
                    <input type="search" class="form-control"
                           placeholder="Search"
                           name="q"
                           required
                           ng-model="vm.query">
                    <div class="input-group-btn">
                        <button class="btn btn-red">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="cart-button-column">
            <a class="btn btn-red text-uppercase"
               ui-sref="cart"
               ui-sref-opts="{reload: true}">Cart</a>
        </div>
        <div class="extra-button-column">
            <a class="btn btn-red text-uppercase btn-sign-in"
               ui-sref="login"
               ng-if="!isLogged()">Log in</a>
            <a class="btn btn-red text-uppercase btn-user"
               ui-sref="profile.info"
               ng-if="isLogged()">Profile</a>
        </div>
    </div>
</div>
