<div class="row text-center" ng-show="vm.loading">
    <img src="/static/img/spinner.gif">
</div>

<div class="row"  ng-show="!vm.loading">
    <div class="col-xs-12">
        <h1>{{ vm.product.title }}</h1>
        <div class="units">
            <div class="unit" ng-repeat="unit in vm.product.units">
                <p>SKU: {{ unit.sku }}</p>
                <p>Price: ${{ unit.price }}</p>
                <p>In stock: {{ unit.num_in_stock }} pcs.</p>
            </div>
        </div>
    </div>
</div>
