<div class="row profile-page">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <ul class="list-group text-uppercase">
            <a ng-click="vm.goToChild('info')"
               ng-class="{'active': vm.active.info}"
               class="list-group-item">Account info</a>
            <a ng-click="vm.goToChild('orders')"
               ng-class="{'active': vm.active.orders}"
               class="list-group-item">Orders</a>
            <a ng-click="vm.logout()" href
               class="list-group-item">Log out</a>
        </ul>
    </div>
</div>

<div ui-view></div>
