<div class="profile-order-details-page">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <div ng-if="!vm.loading">
                <h2 class="text-uppercase"><b>Order #{{ vm.order.id }}</b></h2>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label text-uppercase">Ordered at</label>
                            <div>
                                <p class="form-control-static">{{ vm.order.created_at | date: 'medium' }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-uppercase">Name</label>
                            <div>
                                <p class="form-control-static">{{ vm.order.name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label text-uppercase">Address</label>
                            <div>
                                <p class="form-control-static">{{ vm.order.address }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-uppercase">Phone</label>
                            <div>
                                <p class="form-control-static">{{ vm.order.phone }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <a class="text-uppercase"
                       ui-sref="product-details({id: orderUnit.unit.product_id})"
                       ng-repeat="orderUnit in vm.order.units">
                        <rs-cart-order-unit item="orderUnit" is-cart="false"></rs-cart-order-unit>
                    </a>
                </div>

                <div>
                    <h3 class="text-uppercase total-sum"><b>Total Sum</b>: ${{ vm.getTotalSum() }}</h3>
                </div>
            </div>
            <div class="text-center" ng-show="vm.loading">
                <img src="/static/img/spinner.gif">
            </div>
        </div>
    </div>
</div>
