<div class="profile-info-page">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
            <form name="form" ng-submit="vm.changePassword()">
                <div class="form-group">
                    <label class="control-label text-uppercase" for="email">Email</label>
                    <div>
                        <p class="form-control-static">{{ user.email }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-uppercase" for="newPasswordInput">New Password</label>
                    <input type="password"
                           class="form-control"
                           id="newPasswordInput"
                           name="newPassword"
                           placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                           ng-model="vm.password.new"
                           minlength="6"
                           maxlength="127"
                           required>
                </div>
                <div class="form-group">
                    <label class="text-uppercase" for="newPasswordConfirmationInput">New Password Confirmation</label>
                    <input type="password"
                           class="form-control"
                           id="newPasswordConfirmationInput"
                           name="newPasswordConfirmation"
                           placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                           ng-model="vm.password.newConfirmation"
                           pwd-check="vm.password.new"
                           required>
                </div>
                <div>
                    <input class="btn btn-red text-uppercase" type="submit" value="Save" ng-disabled="form.$invalid">
                </div>
                <div class='msg-block text-uppercase' ng-show='!form.$valid'>
                    <p class='msg-error'
                       ng-show='form.newPassword.$error.minlength || form.newPassword.$error.maxlength'>
                        Password must be 6-127 characters
                    </p>
                    <p class='msg-error'
                       ng-show='form.newPasswordConfirmation.$touched && form.newPasswordConfirmation.$error.pwMatch'>
                        Passwords don't match
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
