<div class="signup-page">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <form novalidate
                  name="signupForm"
                  ng-if="!vm.successfullySigned"
                  ng-submit="vm.signup()">
                <div class="form-group">
                    <label class="text-uppercase" for="emailInput">E-mail</label>
                    <input type="email"
                           class="form-control"
                           id="emailInput"
                           placeholder="user@example.com"
                           name="email"
                           ng-model="vm.user.email"
                           ng-model-options="{debounce: 600}"
                           required>
                </div>
                <div class="form-group">
                    <label class="text-uppercase" for="passwordInput">Password</label>
                    <input type="password"
                           class="form-control"
                           id="passwordInput"
                           name="password"
                           placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                           ng-model="vm.user.password"
                           minlength="6"
                           maxlength="127"
                           required>
                </div>
                <div class="form-group">
                    <label class="text-uppercase" for="passwordInput">Password Confirmation</label>
                    <input type="password"
                           class="form-control"
                           id="passwordConfirmationInput"
                           name="passwordConfirmation"
                           placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
                           ng-model="vm.user.passwordConfirmation"
                           pwd-check="vm.user.password"
                           required>
                </div>
                <div>
                    <input class="btn btn-red text-uppercase"
                           type="submit"
                           value="Sign up"
                           ng-disabled="!signupForm.$valid">
                </div>
                <div class='msg-block text-uppercase' ng-show='!signupForm.$valid'>
                    <p class='msg-error' ng-show='signupForm.email.$error.email'>
                        Email is not valid
                    </p>
                    <p class='msg-error'
                       ng-show='signupForm.password.$error.minlength || signupForm.password.$error.maxlength'>
                        Password must be 6-127 characters
                    </p>
                    <p class='msg-error'
                       ng-show='signupForm.passwordConfirmation.$touched && signupForm.passwordConfirmation.$error.pwMatch'>
                        Passwords don't match
                    </p>
                </div>
            </form>
            <div class="jumbotron jumbotron-crimson"
                 ng-if="vm.successfullySigned">
                Successfully registered! Now you can log in.
            </div>
        </div>
    </div>
</div>
