<div>
    <div class="row">
        <div class="col-sm-3">
            <h2>Tags</h2>
            <label class="filter-checkbox" ng-repeat="tag in tags">
                <input type="checkbox"
                       value="{{ tag.name }}"
                       ng-model="tag.selected"
                       ng-change="refreshFilter()">
                {{ tag.name }}
            </label>
        </div>
        <div class="col-sm-3">
            <h2>Filter</h2>
            <label class="filter-checkbox">
                <input type="checkbox"
                       ng-model="inStock"
                       ng-change="refreshFilter()">
                In stock
            </label>
            <label class="filter-text">
                Min $<input type="number"
                            min="0"
                            ng-model="priceMin"
                            ng-change="refreshFilter()">
            </label>
            <label class="filter-text">
                Max $<input type="number"
                            min="1"
                            ng-model="priceMax"
                            ng-change="refreshFilter()">
            </label>
        </div>
    </div>

    <div class="row text-center">
       <div class="sneakers-list-item text-center"
            ng-repeat="sneakers in sneakersListing"
            ng-click="$state.go('sneakers-details', {id: sneakers.id})">
           <img class="sneakers-main-image" ng-src="{{ sneakers.image }}">
           <p><span class="sneakers-title">{{ sneakers.title }}</span></p>
           <div class="tags">
               <span ng-repeat="tag in sneakers.tags"> <span class="label label-tag">{{ tag }}</span></span>
           </div>
       </div>
    </div>

    <div class="row text-center">
       <button class="btn btn-red"
               ng-class="{'disabled': !hasPrev}"
               ng-click="addUrlParameter('page', page - 1)">
           Prev
       </button>
       <button class="btn btn-red"
               ng-class="{'disabled': !hasNext}"
               ng-click="addUrlParameter('page', page + 1)">
           Next
       </button>
    </div>
</div>
