<div>
    <div class="row">
        <button class="btn collapse-filter-button"
                data-toggle="collapse"
                data-target="#filter-options"
                ng-init="isCollapsed = true"
                ng-click="isCollapsed = !isCollapsed">
            Filter Options <span class="glyphicon"
                                 ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed}"></span>
        </button>
    </div>
    <div id="filter-options" class="collapse">
        <div class="row">
            <div class="col-sm-4">
                <h2>Tags</h2>
                <div class="checkbox checkbox-danger checkbox-uppercase" ng-repeat="tag in tags">
                    <input id="tag-checkbox{{ $index }}"
                           type="checkbox"
                           ng-model="tag.selected"
                           ng-change="refreshFilter()">

                    <label for="tag-checkbox{{ $index }}">
                        {{ tag.name }}
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <h2>Filter</h2>
                <div class="checkbox checkbox-danger checkbox-uppercase">
                    <input id="instock-checkbox"
                           type="checkbox"
                           ng-model="inStock"
                           ng-change="refreshFilter()">

                    <label for="instock-checkbox">
                        In stock
                    </label>
                </div>
                <div class="filter-text">
                    Min $<input type="number"
                                min="0"
                                ng-model="priceMin"
                                ng-change="refreshFilter()">
                    <button ng-click="priceMin = null; refreshFilter()">Reset</button>
                </div>
                <div class="filter-text">
                    Max $<input type="number"
                                min="1"
                                ng-model="priceMax"
                                ng-change="refreshFilter()">
                    <button ng-click="priceMax = null; refreshFilter()">Reset</button>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-repeat="property in properties">
                    <h2 class="property-name"
                        data-toggle="collapse"
                        data-target="#property-value-{{ $index }}"
                        ng-init="isCollapsed = true"
                        ng-click="isCollapsed = !isCollapsed">
                        {{ property.name }} <span class="glyphicon"
                                                  ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-up': !isCollapsed}"></span>
                    </h2>
                    <span class="num-of-options">{{ property.values.length }} options</span>
                    <div id="property-value-{{ $index }}" class="collapse">
                        <div class="checkbox checkbox-danger checkbox-uppercase" ng-repeat="value in property.values">
                            <!-- $parent.$index is used to make checkbox id unique -->
                            <input id="propvalue-checkbox{{ $parent.$index * 100 + $index }}"
                                   type="checkbox"
                                   ng-model="value.selected"
                                   ng-change="refreshFilter()">

                            <label for="propvalue-checkbox{{ $parent.$index * 100 + $index }}">
                                {{ value.value }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
       <div class="sneakers-list-item text-center"
            ng-repeat="sneakers in sneakersListing"
            ng-click="$state.go('sneakers-details', {id: sneakers.id})">
           <img class="sneakers-main-image" ng-src="{{ sneakers.image }}">
           <span class="sneakers-title">{{ sneakers.title }}</span>
           <span class="product-price" ng-if="sneakers.prices.min !== sneakers.prices.max">${{ sneakers.prices.min }} - ${{ sneakers.prices.max }}</span>
           <span class="product-price" ng-if="sneakers.prices.min === sneakers.prices.max">${{ sneakers.prices.min }}</span>
           <div class="tags">
               <span ng-repeat="tag in sneakers.tags"> <span class="label label-tag">{{ tag }}</span></span>
           </div>
       </div>
    </div>

    <div class="row text-center">
       <button class="btn btn-red"
               ng-class="{'disabled': !hasPrev}"
               ng-click="addUrlParameter('page', page - 1)">
           Prev
       </button>
       <button class="btn btn-red"
               ng-class="{'disabled': !hasNext}"
               ng-click="addUrlParameter('page', page + 1)">
           Next
       </button>
    </div>
</div>
