<div>
    <div class="row bottom-buffer">
        <div class="col-xs-12 text-center">
            <button class="btn btn-red collapse-filter-button text-uppercase"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed; vm.showSlider();">
                Filter Options <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                                     ng-class="{'flipped': !isCollapsed}"></span>
            </button>
        </div>
    </div>
    <div uib-collapse="isCollapsed" class="filter-options-block">
        <div class="row bottom-buffer">
            <div class="col-sm-4">
                <p class="filter-title text-uppercase">Tags</p>
                <div class="checkbox checkbox-danger" ng-repeat="tag in vm.tags">
                    <input id="tag-checkbox{{ $index }}"
                           type="checkbox"
                           ng-model="tag.selected"
                           ng-change="vm.refreshFilter()">

                    <label class="text-uppercase" for="tag-checkbox{{ $index }}">
                        {{ tag.name }}
                    </label>
                </div>
            </div>

            <div class="col-sm-4">
                <p class="filter-title text-uppercase">Filter</p>
                <div class="checkbox checkbox-danger checkbox-uppercase">
                    <input id="instock-checkbox"
                           type="checkbox"
                           ng-model="vm.inStock"
                           ng-change="vm.refreshFilter()">

                    <label class="text-uppercase" for="instock-checkbox">
                        In stock
                    </label>
                </div>
                <p class="filter-title text-uppercase">Price</p>
                <rzslider class="price-slider"
                          rz-slider-model="vm.slider.min"
                          rz-slider-high="vm.slider.max"
                          rz-slider-options="vm.slider.options"></rzslider>
            </div>

            <div class="col-sm-4">
                <div class="filter-property-block" ng-repeat="property in vm.properties">
                    <p class="filter-title property-name text-uppercase"
                        ng-init="isCollapsed = true"
                        ng-click="isCollapsed = !isCollapsed">
                        {{ property.name }} <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                                                  ng-class="{'flipped': !isCollapsed}"></span>
                    </p>
                    <span class="num-of-options text-uppercase">{{ property.values.length }} options</span>
                    <div uib-collapse="isCollapsed" class="property-collapsing-block">
                        <div class="checkbox checkbox-danger" ng-repeat="value in property.values">
                            <!-- $parent.$index is used to make checkbox id unique -->
                            <input id="propvalue-checkbox{{ $parent.$index * 100 + $index }}"
                                   type="checkbox"
                                   ng-model="value.selected"
                                   ng-change="vm.refreshFilter()">

                            <label class="text-uppercase" for="propvalue-checkbox{{ $parent.$index * 100 + $index }}">
                                {{ value.value }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" ng-show="vm.loading">
        <img src="/static/img/spinner.gif">
    </div>

    <div class="row text-center bottom-buffer" ng-show="!vm.loading">
        <div class="col-xs-12">
            <div class="sneakers-list-item text-center"
                ng-repeat="sneakers in vm.sneakersListing"
                ng-click="$state.go('sneakers-details', {id: sneakers.id})">

               <img class="sneakers-main-image" ng-src="{{ sneakers.image }}">
               <span class="sneakers-title">{{ sneakers.title }}</span>

               <span class="product-price"
                     ng-if="sneakers.prices.min !== sneakers.prices.max">
                   ${{ sneakers.prices.min }} - ${{ sneakers.prices.max }}
               </span>
               <span class="product-price"
                     ng-if="sneakers.prices.min === sneakers.prices.max">
                   ${{ sneakers.prices.min }}
               </span>

               <div class="tags">
                   <span ng-repeat="tag in sneakers.tags"
                         ng-click="vm.applyTag($event, tag)">
                       <span class="label label-tag">{{ tag }}</span>
                   </span>
               </div>
            </div>

            <div class="sneakers-not-found text-center" ng-hide="vm.sneakersListing.length">
                <p class="main-msg text-uppercase">No matches found</p>
                <p class="secondary-msg text-uppercase">Please, try another search</p>
            </div>
        </div>
    </div>

    <div class="row text-center bottom-buffer">
       <button class="btn btn-red text-uppercase"
               ng-class="{'disabled': !vm.hasPrev}"
               ng-click="vm.pagePrev()">
           Prev
       </button>
       <button class="btn btn-red text-uppercase"
               ng-class="{'disabled': !vm.hasNext}"
               ng-click="vm.pageNext()">
           Next
       </button>
    </div>
</div>
