<div>
    <rs-filter-options tags="vm.tags"
                       in-stock="vm.inStock"
                       slider="vm.slider"
                       properties="vm.properties"
                       filter-change="vm.refreshFilter()"></rs-filter-options>

    <div class="row text-center" ng-show="vm.loading">
        <img src="/static/img/spinner.gif">
    </div>

    <div class="row text-center bottom-buffer" ng-show="!vm.loading">
        <div class="col-xs-12">
            <rs-sneakers-list-item ng-repeat="sneakers in vm.sneakersListing"
                                   ng-click="$state.go('sneakers-details', {id: sneakers.id})"
                                   sneakers="sneakers"></rs-sneakers-list-item>

            <div class="sneakers-not-found text-center" ng-hide="vm.sneakersListing.length">
                <p class="main-msg text-uppercase">No matches found</p>
                <p class="secondary-msg text-uppercase">Please, try another search</p>
            </div>
        </div>
    </div>

    <div class="row text-center bottom-buffer">
       <button class="btn btn-red text-uppercase"
               ng-class="{'disabled': !vm.hasPrev}"
               ng-click="vm.pagePrev()">
           Prev
       </button>
       <button class="btn btn-red text-uppercase"
               ng-class="{'disabled': !vm.hasNext}"
               ng-click="vm.pageNext()">
           Next
       </button>
    </div>
</div>
