<div>
    <div class="row">
        <button class="btn collapse-filter-button text-uppercase"
                ng-init="isCollapsed = true"
                ng-click="isCollapsed = !isCollapsed">
            Filter Options <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                                 ng-class="{'flipped': !isCollapsed}"></span>
        </button>
    </div>
    <div uib-collapse="isCollapsed">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="text-uppercase">Tags</h2>
                <div class="checkbox checkbox-danger" ng-repeat="tag in vm.tags">
                    <input id="tag-checkbox{{ $index }}"
                           type="checkbox"
                           ng-model="tag.selected"
                           ng-change="vm.refreshFilter()">

                    <label class="text-uppercase" for="tag-checkbox{{ $index }}">
                        {{ tag.name }}
                    </label>
                </div>
            </div>

            <div class="col-sm-4">
                <h2 class="text-uppercase">Filter</h2>
                <div class="checkbox checkbox-danger checkbox-uppercase">
                    <input id="instock-checkbox"
                           type="checkbox"
                           ng-model="vm.inStock"
                           ng-change="vm.refreshFilter()">

                    <label class="text-uppercase" for="instock-checkbox">
                        In stock
                    </label>
                </div>
                <div class="filter-text">
                    <span class="filter-title">Min $</span><input type="number"
                                min="0"
                                ng-model="vm.priceMin"
                                ng-change="vm.refreshFilter()">
                    <span class="glyphicon glyphicon-remove"
                          ng-click="vm.priceMin = null; vm.refreshFilter()"></span>
                </div>
                <div class="filter-text">
                    <span class="filter-title">Min $</span><input type="number"
                                min="1"
                                ng-model="vm.priceMax"
                                ng-change="vm.refreshFilter()">
                    <span class="glyphicon glyphicon-remove"
                          ng-click="vm.priceMax = null; vm.refreshFilter()"></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div ng-repeat="property in vm.properties">
                    <h2 class="property-name text-uppercase"
                        ng-init="isCollapsed = true"
                        ng-click="isCollapsed = !isCollapsed">
                        {{ property.name }} <span class="glyphicon glyphicon-chevron-down collapse-chevron"
                                                  ng-class="{'flipped': !isCollapsed}"></span>
                    </h2>
                    <span class="num-of-options text-uppercase">{{ property.values.length }} options</span>
                    <div uib-collapse="isCollapsed">
                        <div class="checkbox checkbox-danger" ng-repeat="value in property.values">
                            <!-- $parent.$index is used to make checkbox id unique -->
                            <input id="propvalue-checkbox{{ $parent.$index * 100 + $index }}"
                                   type="checkbox"
                                   ng-model="value.selected"
                                   ng-change="vm.refreshFilter()">

                            <label class="text-uppercase" for="propvalue-checkbox{{ $parent.$index * 100 + $index }}">
                                {{ value.value }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" ng-show="vm.loading">
        <img src="/static/img/spinner.gif">
    </div>

    <div class="row text-center" ng-show="!vm.loading">
       <div class="sneakers-list-item text-center"
            ng-repeat="sneakers in vm.sneakersListing"
            ng-click="$state.go('sneakers-details', {id: sneakers.id})">

           <img class="sneakers-main-image" ng-src="{{ sneakers.image }}">
           <span class="sneakers-title">{{ sneakers.title }}</span>

           <span class="product-price"
                 ng-if="sneakers.prices.min !== sneakers.prices.max">
               ${{ sneakers.prices.min }} - ${{ sneakers.prices.max }}
           </span>
           <span class="product-price"
                 ng-if="sneakers.prices.min === sneakers.prices.max">
               ${{ sneakers.prices.min }}
           </span>

           <div class="tags">
               <span ng-repeat="tag in sneakers.tags"> <span class="label label-tag">{{ tag }}</span></span>
           </div>
       </div>
    </div>

    <div class="row text-center">
       <button class="btn btn-red"
               ng-class="{'disabled': !vm.hasPrev}"
               ng-click="vm.pagePrev()">
           Prev
       </button>
       <button class="btn btn-red"
               ng-class="{'disabled': !vm.hasNext}"
               ng-click="vm.pageNext()">
           Next
       </button>
    </div>
</div>
