<div>
   <div class="row text-center">
       <div class="sneakers-list-item text-center"
            ng-repeat="sneakers in sneakersListing"
            ng-click="go('/sneakers/' + sneakers.id)">
           <img class="sneakers-main-image" ng-src="{{ sneakers.image }}">
           <p><span class="sneakers-title">{{ sneakers.title }}</span></p>
           <div class="tags">
               <span ng-repeat="tag in sneakers.tags"> <span class="label label-tag">{{ tag }}</span></span>
           </div>
       </div>
   </div>

   <div class="row text-center">
       <button class="btn btn-red"
               ng-class="{'disabled': !prevPageUrl}"
               ng-click="changeList(prevPageUrl)">
           Prev
       </button>
       <button class="btn btn-red"
               ng-class="{'disabled': !nextPageUrl}"
               ng-click="changeList(nextPageUrl)">
           Next
       </button>
   </div>
</div>
