<img class="sneakers-main-image" ng-src="{{ vm.sneakers.image }}">
<span class="sneakers-title">{{ vm.sneakers.title }}</span>

<span class="product-price"
      ng-if="vm.sneakers.prices.min !== vm.sneakers.prices.max">
    ${{ vm.sneakers.prices.min }} - ${{ vm.sneakers.prices.max }}
</span>
<span class="product-price"
      ng-if="vm.sneakers.prices.min === vm.sneakers.prices.max">
    ${{ vm.sneakers.prices.min }}
</span>

<div class="tags">
    <span class="label label-tag"
          ng-repeat="tag in vm.sneakers.tags"
          ng-click="vm.applyTag($event, tag)">{{ tag }}</span>
</div>
