html, body {
    height: 100%;
    background-color: $light;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}

main {
    flex: 1 0 auto;
}

a {
    color: $crimson;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        color: darken($crimson, 8%);
    }
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.btn {
    transition: background-color 0.4s ease;
    border-radius: 0;

    &.disabled {
        pointer-events: none;
    }

    &.btn-red {
        color: $light;
        background-color: $crimson;

        &:hover {
            background-color: darken($crimson, 8%);
        }

        &:hover, &:focus, &:active {
            outline: none;
        }
    }

    &.btn-large {
        font-size: 16pt;
    }

    &.btn-top-margin {
        margin-top: 10px;
    }

    &.ng-animate.ng-leave {
        display: none;
    }
}

.form-control {
    border-radius: 0;
    border: #cccccc solid 1px;

    &:focus {
        border-color: $crimson;
    }

    &:hover, &:active, &:focus {
        box-shadow: none;
    }
}

.tags-container {
    width: 100%;

    .label-tag {
        transition: background-color 0.4s ease,
                    color 0.4s ease;
        background-color: $light;
        border: solid $crimson 1px;
        color: $crimson;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: normal;
        margin-right: 3px;

        &:hover {
            background-color: $crimson;
            color: $light;
            cursor: pointer;
        }
    }
}

.jumbotron.jumbotron-crimson {
    border-radius: 0;
    background-color: #f9f0f2;
    color: $crimson;
    text-transform: uppercase;
    font-size: 16pt;
    text-align: center;
    padding: 35px;
}

.msg-block {
    padding: 10px 0;
}
