header {
    margin-top: 25px;

    .restshop-logo {
        cursor: pointer;

        @media screen and (min-width: 630px) {
            & {
                width: 600px;
            }
        }
    }

    .input-group {
        width: 100%;
        display: table;  /* Instead of display:block */
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 630px) {
            & {
                width: 600px;
            }
        }
    }
}


