.product-item-container {
    display: inline-block;

    rs-product-list-item {
        transition: border-color 0.3s ease;
        margin-right: -1px;
        margin-bottom: -1px;
        padding: 20px;
        display: inline-block;
        width: 285px;
        border: transparent solid 1px;

        &.ng-enter,
        &.ng-leave,
        &.ng-animate {
            transition: none !important;
        }

        &:hover {
            border-color: $crimson;
            cursor: pointer;
        }

        .product-image {
            width: 245px;
            height: 245px;
            border: solid $image-border-color 1px;
            margin-bottom: 5px;
        }

        .product-title {
            color: $crimson;
            display: block;
            padding: 3px;
            text-transform: uppercase;
        }

        .product-price {
            display: inline-block;
            padding: 3px;
            color: #4b4b4b;
        }

        .product-title-container {
            width: 100%;
            height: 21px;
            overflow-y: hidden;
        }

        .tags-container {
            height: 25px;
            overflow-x: hidden;
        }
    }

    .products-not-found {
        padding: 20px;
        color: darken($crimson, 10%);

        .main-msg {
            font-size: 20pt;
            font-weight: bold;
            margin-bottom: 0;
        }

        .secondary-msg {
            font-size: 10pt;
        }
    }
}
