.profile-page {
    .list-group-item {
        border-radius: 0;
        transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;

        &.active {
            background-color: $crimson;
            border-color: $crimson;
        }
    }
}

.profile-orders-page {
    .order-list-item {
        padding: 20px;
        border: solid #ccc 1px;
        margin-bottom: 8px;
        display: inline-block;
        width: 100%;
        color: inherit;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.profile-order-details-page {
    .control-label {
        margin-bottom: 0;
    }

    .form-group {
        margin-bottom: 5px;
    }

    h2 {
        margin-top: 5px;
    }

    .total-sum {
        margin-top: 0;
    }
}
