$clear-button-color: darken($light, 10%);
$input-color: darken($light, 6%);

.collapse-filter-button {
    &, &:focus {
        width: 100%;
        font-size: 14pt;
        background-color: $light;
        border: solid $crimson 1px;
        color: $crimson;
        outline: none;
    }

    &:hover, &:active {
        background-color: darken($light, 2%);
        color: $crimson;
        outline: none;
    }

    .collapse-chevron {
        font-size: 11pt;
    }
}

.collapse-chevron {
    transition: transform 0.3s ease-in-out;

    &.flipped {
        transform: rotate(-180deg);
    }
}

.filter-options-block {
    .filter-title {
        font-size: 14pt;
    }

    .filter-text {
        margin: 10px 0;

        input {
            width: 50px;
            border: none;
            background-color: $input-color;

            &:focus {
                outline: none;
            }
        }

        .filter-input-title {
            display: inline-block;
            text-transform: uppercase;
            width: 40px;
        }

        .clear-button {
            color: $clear-button-color;
            cursor: pointer;

            &:hover {
                color: darken($clear-button-color, 15%);
            }
        }
    }

    .filter-property-block {
        .property-name {
            margin: 15px 0 0;
            display: inline-block;
            cursor: pointer;

            &:hover {
                color: $crimson;
            }

            .collapse-chevron {
                font-size: 10pt;
            }
        }

        &:first-child .property-name {
            margin: 0;
        }

        .num-of-options {
            margin-left: 5px;
            font-size: 8pt;
        }
    }

}
