$image-border-color: darken($light, 8%);

.sneakers-list-item {
    margin-bottom: 15px;
    padding: 20px;
    display: inline-block;
    width: 285px;

    &:hover {
        border: $crimson solid 1px;
        padding: 19px;
        cursor: pointer;
    }

    .sneakers-main-image {
        width: 245px;
        height: 245px;
        border: solid $image-border-color 1px;
        margin-bottom: 5px;
    }

    .sneakers-title {
        color: $crimson;
        display: block;
        padding: 3px;
        text-transform: uppercase;
    }

    .product-price {
        display: inline-block;
        padding: 3px;
    }

    .tags {
        padding: 3px;
    }

    .label-tag {
        background-color: $light;
        border: solid $crimson 1px;
        color: $crimson;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: normal;

        &:hover {
            background-color: $crimson;
            color: $light;
        }
    }
}
