$image-border-color: darken($light, 8%);

rs-product-list-item {
    transition: border-color 0.3s ease;
    margin-right: -1px;
    margin-bottom: 15px;
    padding: 20px;
    display: inline-block;
    width: 285px;
    border: transparent solid 1px;

    &.ng-enter,
    &.ng-leave,
    &.ng-animate {
        transition: none !important;
    }

    &:hover {
        border-color: $crimson;
        cursor: pointer;
    }

    .product-image {
        width: 245px;
        height: 245px;
        border: solid $image-border-color 1px;
        margin-bottom: 5px;
    }

    .product-title {
        color: $crimson;
        display: block;
        padding: 3px;
        text-transform: uppercase;
    }

    .product-price {
        display: inline-block;
        padding: 3px;
    }

    .tags {
        width: 245px;
        height: 25px;
        overflow-x: hidden;
    }

    .label-tag {
        transition: background-color 0.4s ease,
                    color 0.4s ease;
        background-color: $light;
        border: solid $crimson 1px;
        color: $crimson;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: normal;
        margin-left: 3px;

        &:hover {
            background-color: $crimson;
            color: $light;
        }
    }
}

.products-not-found {
    padding: 20px;
    color: darken($crimson, 10%);

    .main-msg {
        font-size: 20pt;
        font-weight: bold;
        margin-bottom: 0;
    }

    .secondary-msg {
        font-size: 10pt;
    }
}
