header {
    margin: 25px 0;
}

.restshop-logo {
    max-width: 600px;
}

.items-container {

}

.unit {
    margin-bottom: 25px;
}

.sneakers-main-image {
    width: 240px;
    height: 240px;
}

.sneakers-list-item {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    display: inline-block;
    width: 270px;
}

.sneakers-list-item:hover {
    border: #d93740 solid 2px;
    padding: 13px;
    cursor: pointer;
}

.sneakers-list-item .sneakers-title {
    color: #d93740;
}

.label-tag {
    background-color: #d93740;
    border-radius: 0;
}
