.slide {
    -webkit-transition: 0.5s ease-in-out all;
    transition: 0.5s ease-in-out all;
    position: relative;
}

.slide.ng-enter {
    position: absolute;
    left: 100% ;
}

.slide.ng-enter.ng-enter-active {
    left: 10%
}

.slide.ng-leave {
    opacity: 0.5
}

.slide.ng-leave.ng-leave-active {
    opacity: 0;
}

.unit {
    margin-bottom: 25px;
}
