body {
    overflow-y:scroll;
}

header {
    margin: 25px 0;
}

.restshop-logo {
    cursor: pointer;
}

@media screen and (min-width: 630px) {
    .restshop-logo {
        width: 600px;
    }
}

.row {
    margin-bottom: 30px;
}

a:focus {
    outline: none;
}

.collapse-filter-button {
    width: 100%;
    font-size: 14pt;
    background-color: #fcfcfc;
    border: solid #d92a4f 1px;
    color: #d92a4f;
}

.collapse-filter-button:hover, .collapse-filter-button:focus {
    background-color: #faf5f5;
    color: #d92a4f;
    outline: none;
}

.collapse-filter-button .glyphicon {
    font-size: 11pt;
}

.property-name {
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
}

.property-name:hover {
    color: #d92a4f;
}

.property-name .glyphicon {
    font-size: 10pt;
}

.num-of-options {
    margin-left: 5px;
    font-size: 8pt;
}

.unit {
    margin-bottom: 25px;
}

.filter-text {
    margin: 10px 0;
}

.filter-text input {
    width: 50px;
    border: none;
    background-color: #f3f3f3;
}

.filter-text input:focus {
    outline: none
}

.filter-text .filter-title {
    display: inline-block;
    text-transform: uppercase;
    width: 40px;
}

.filter-text .glyphicon {
    color: #d6d6d6;
    cursor: pointer;
}

.filter-text .glyphicon:hover {
    color: #c5c5c5;
}

.sneakers-main-image {
    width: 240px;
    height: 240px;
    border: solid #f0f0f0 1px;
    margin-bottom: 5px;
}

.sneakers-list-item {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    display: inline-block;
    width: 270px;
}

.sneakers-list-item:hover {
    border: #d92a4f solid 2px;
    padding: 13px;
    cursor: pointer;
}

.sneakers-list-item .sneakers-title {
    color: #d92a4f;
}

.sneakers-title {
    display: block;
    padding: 3px;
    text-transform: uppercase;
}

.product-price {
    display: inline-block;
    padding: 3px;
}

.tags {
    padding: 3px;
}

.label-tag {
    background-color: #fcfcfc;
    border: solid #d92a4f 1px;
    color: #d92a4f;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.btn {
    border-radius: 0;
}

.btn-red {
    color: #fcfcfc;
    background-color: #d92a4f;
}

.btn-red:hover {
    background-color: #c7294c;
}

.text-uppercase {
    text-transform: uppercase;
}
